---
layout: base.njk
---
{% include 'sitenav.njk' %}

<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ title }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-sm tdbc-mx-auto">
      {{ description }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
    {{ content | safe }}
  </article>
  <ul>
    {%- for episode in collections.episodes -%}
      <li class="tdbc-card tdbc-my-md">
        <div class="tdbc-card__content">
          <a class="tdbc-card__title" href="{{ episode.url }}">Episode {{ episode.data.title }} ({{ episode.data.recordedDate }})</a>
          <p>{{ episode.data.description }}</p>
        </div>
      </li>
    {%- endfor -%}
  </ul>  
</main>