---
layout: base.njk
---

{% include 'sitenav.njk' %}

<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ title }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-sm tdbc-mx-auto">
      {{ description }}
    </h2>
    <p>Recorded: {{ date | postDate }} • {{ lengthInSeconds | toMins }} min</p>
    {% include "platforms.njk" %}
  </div>
</header>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
    <p>{{ extendedDescription }}</p>
    
    {{ content | safe }}

    {# <audio controls>
      <source src="{{ podcastUrl }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio> #}

    <a href="/episodes/" class="tdbc-button tdbc-button-outlined">View All Episodes</a>
  </article>
</main>