---
layout: base.njk
---
{% include 'sitenav.njk' %}

<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ title }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-sm tdbc-mx-auto">
      {{ description }}
    </h2>
    {% include "platforms.njk" %}
  </div>
</header>
<main class="tdbc-container">
  {% set s2 = collections.episodes | pluck( 's2' , 'season') %}
  {% if s2 %}
  <article>
    <h2>Season 2</h2>
    <ul class="tdbc-column-container">
      {%- for page in s2 -%}
      <li class="tdbc-card tdbc-mt-sm">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
          <small>{% if page.data.episodedate %}{{ page.data.episodedate | formatDate }}{% else %}{{ page.date | postDate }}{% endif %}</small>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </article>
  {% endif %}

  {% include "support.njk" %}

  <article class="article--wide tdbc-mt-md">
    <h2>Season 1</h2>
    <ul class="tdbc-column-container">
    {%- for page in collections.s1 | reverse -%}
      <li class="tdbc-card tdbc-mt-sm">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
          <small>{{ page.date | postDate }}</small>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </article>

</main>