---
layout: base.njk
---
{% include 'sitenav.njk' %}

<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ title }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-sm tdbc-mx-auto">
      {{ description }}
    </h2>
    <div class="tdbc-row tdbc-row--center-content">
      <a class="tdbc-button tdbc-button-outlined tdbc-h4" href="https://podcasts.apple.com/us/podcast/word-wrap/id1539361688">
        <img class="tdbc-button__icon" src="/img/apple-podcasts.png" width="64" alt="Download on Apple Podcasts" />
        Apple Podcasts
      </a>
      <a class="tdbc-button tdbc-button-outlined tdbc-h4" href="/feed/feed.xml">
        <img class="tdbc-button__icon" src="/img/rss.svg" width="64" alt="" />
        RSS
      </a>
    </div>
  </div>
</header>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
    {{ content | safe }}
  </article>
  {% include 'episode-list.njk' %}  
</main>