---
description:
layout: base.njk
---

<header class="tdbc-hero">
  <div class="tdbc-container">
    <span class="logo">
      &lt; <span class="logo__emoji">🎁</span> &gt;
    </span>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength--small tdbc-ink--light tdbc-mt-sm tdbc-mx-auto">A podcast where <a href="https://twitter.com/tackjhompson">Claire</a> and <a href="https://twitter.com/5t3ph">Steph</a>  talk about a bunch of things relating to being developers in the 21st century</h2>
  </div>
  {% include "platforms.njk" %}
</header>
<main class="tdbc-container tdbc-content-maxlength tdbc-mx-auto">
  
  <div class="tdbc-section tdbc-mt-lg">
    <h2 class="tdbc-ink--secondary">Latest Episode |&nbsp;<small><a href="/episodes/" class="tdbc-ink--primary">All&nbsp;Episodes</a></small></h2>
    
    <ul class="tdbc-container">
    {%- for page in collections.episodes | latest(-1) | reverse -%}
      <li class="tdbc-card tdbc-mt-sm">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
          <small>{{ page.date | postDate }}</small>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>

  {% include "support.njk" %}

  <div class="tdbc-section tdbc-mt-lg">
    <h2 class="tdbc-ink--secondary">About the Hosts</h2>
    <p class="tdbc-lead">We've each been developers for over a decade and watched the web evolve while we - like many of you - tried to keep up.</p>
    
    <p>Our past involves working together at an in-house marketing agency, after which our paths diverged to areas such as insurance and financial tech, design systems leadership, front-end focused software engineering, and accessibility. Now we're back together as SWE at Microsoft. We have experience across the front-end spectrum, inclusive of HTML, CSS, JS, and the surrounding ecosystem of frameworks and systems. You can get to know us more on <a href="/about/">our About Us page</a>.</p>
  </div>

{{ content | safe }}

</main>