---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo {
    font-size: 10vh;
    position: relative;
  }

  .logo__emoji {
    position: relative;
    top: 10px;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <span class="logo">
      &lt; <span class="logo__emoji">🎁</span> &gt;
    </span>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      A podcast where {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  {# <div class="tdbc-section">
    <div class="tdbc-card">
      <div class="tdbc-card__content tdbc-text-align--center">
        <div class="tdbc-input">
          <input type="text" class="tdbc-input__box">
          <button class="tdbc-button tdbc-button--primary tdbc-button-outlined">Submit</button>
        </div>
      </div>
    </div>
  </div> #}
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      <li class="tdbc-card">
        <div class="tdbc-card__content tdbc-text-align--center">
          <a class="tdbc-card__title tdbc-text-align--center" href="https://podcasts.apple.com/us/podcast/word-wrap/id1539361688">
            <img src="img/apple-podcasts.svg" width="250" alt="Download on Apple Podcasts" />
          </a>
        </div>
      </li>
    </ul>
  </div>
  
  <div class="tdbc-section tdbc-mt-lg">
    <h2 class="tdbc-ink--secondary">Latest Episode</h2>
    {% set latest = true %}
    {% include 'episode-list.njk' %}
  </div>

{{ content | safe }}

</main>

{# <li class="tdbc-card">
  <div class="tdbc-card__content tdbc-text-align--center">
    <a class="tdbc-card__title tdbc-text-align--center" href="/">
      <img src="img/spotify.png" width="145" alt="Download on Spotify" />
    </a>
  </div>
</li> #}