<div class="tdbc-row tdbc-row--center-content tdbc-mt-md">
  <a class="tdbc-button tdbc-button-outlined tdbc-h4" href="https://podcasts.apple.com/us/podcast/word-wrap/id1539361688">
    <img class="tdbc-button__icon" src="/img/apple-podcasts.png" width="64" alt="" />
    Apple Podcasts
  </a>
  <a class="tdbc-button tdbc-button-outlined tdbc-h4" href="https://open.spotify.com/show/5U2mBLG0tutfwb1ou7VWBH?si=7-fkepFsRvmsn8uXq4gtCw">
    <img class="tdbc-button__icon" src="/img/spotify.png" width="64" alt="" />
    Spotify
  </a>
  <a class="tdbc-button tdbc-button-outlined tdbc-h4" href="/feed/feed.xml">
    <img class="tdbc-button__icon" src="/img/rss.svg" width="64" alt="" />
    RSS
  </a>
</div>
<p class="tdbc-content-maxlength--small tdbc-mx-auto tdbc-ink--primary">Also available on <a href="https://podcasts.google.com/feed/aHR0cHM6Ly93b3Jkd3JhcC5kZXYvZmVlZC8?sa=X&ved=2ahUKEwj08b2zgpftAhVdIM0KHXANCQAQ9sEGegQIARAD">Google Podcasts</a> and <a href="https://music.amazon.com/podcasts/b47248d1-6e96-4edb-9389-89799b56e50e/Word-Wrap">Amazon Music</a></p>