<div class="tdbc-section tdbc-promo tdbc-mt-md tdbc-content-maxlength tdbc-mx-auto">
  <h2>Support Word Wrap</h2>
  <p class="tdbc-lead"><strong class="tdbc-ink--primary">Interested in sponsoring the show?</strong> Get in touch <a href="/sponsor/">on our sponsorship form</a>.</p>
  <p>You can also become a patron with a small monthly contribution which will help us pay for necessary services to keep a podcast running. <strong>Thanks for your support</strong>!</p>
  <a href="https://patreon.com/wordwrap" class="tdbc-button">Support Word Wrap on Patreon</a>
</div>