---
title: Sponsor Word Wrap
description: Contact us about sponsorship opportunities with Word Wrap.
---

<form action="/thanks/" name="sponsorship" method="POST" data-netlify="true" netlify-honeypot="bot-field" class="tdbc-mx-auto">
  <p>Episode ad breaks begin at $75 for a 30 second spot. Sponsorship payments will be accepted via PayPal. If accepted, we'll respond to schedule your sponsorship and finalize script details.</p>
  <p>Word Wrap team reserves the right to decline sponsorship offers that do not align with our podcast audience or goals.</p>
  <p><em>All fields are required.</em></p>
  <label hidden>
    Don’t fill this out if you’re human: <input name="bot-field" />
  </label>
  <div class="tdbc-input">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="tdbc-input__box" required>
  </div>
  <div class="tdbc-input">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" class="tdbc-input__box" required>
  </div>
  <div class="tdbc-input">
    <label for="company">Company/Product</label>
    <input type="text" id="company" name="company" class="tdbc-input__box" required>
  </div>
  <div class="tdbc-input">
    <label for="draft">Draft script (60 - 75 words) or talking points</label>
    <textarea type="text" id="draft" name="draft" class="tdbc-input__box" rows="6" required></textarea>
  </div>
  <button class="tdbc-button tdbc-button--primary">Submit</button>
</form>
