---
layout: episode
pagination:
  data: prismic.episode
  size: 1
  alias: episode
  addAllPagesToCollections: true
tags: episodes
permalink:
  build: /episodes/{{ episode.uid | epSlug }}/
eleventyComputed:
  title: "Ep. {{ episode.data.number }}: {% asText episode.data.title %}"
  episodedate: "{{ episode.data.date }}"
  episodeNumber: "{{ episode.data.number }}"
  description: "{% asText episode.data.description %}"
  extendedDescription: "{% asText episode.data.extended_description %}"
  lengthInSeconds: "{{ episode.data.length }}"
  season: "{{ episode.uid | epSeason }}"
---

{%- if episode.data.body %}
  {%- set body = episode.data.body -%}

  {%- set guests = body | guests -%}
  {%- if guests.items %}
  <h2>Episode Guests</h2>
    {% for guest in guests.items %}
    {% set guestImg = guest.headshot.url %}
    <div class="tdbc-guest {{ 'tdbc-feature' if guestImg }}">
      {%- if guestImg %}<img src="{{ guestImg }}">{% endif  -%}
      {% asHTML guest.bio %}
    </div>
    {% endfor %}
  {% endif -%}
{% endif -%}

<h2 id="transcript" tabindex="-1">Transcript<a class="tdbc-anchor" href="#transcript">#</a></h2>

{% asHTML episode.data.transcript %}