---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ meta.siteName }}</title>
    <link>{{ meta.url }}</link>
    <language>en-us</language>
    <copyright>&#169; {% year %} {{ meta.siteName }}</copyright>
    <itunes:owner>
      <itunes:email>wordwrapshow@gmail.com</itunes:email>
    </itunes:owner>
    <itunes:author>Claire Lipskey and Stephanie Eckles</itunes:author>
    <description>
      {{ meta.siteDescription }}
    </description>
    <itunes:image
      href="{{ meta.url }}/img/word-wrap.png"
    />
    <itunes:category text="Technology"/>
    <itunes:explicit>false</itunes:explicit>
		{%- for episode in collections.orderedEpisodes %}
		{%- set absolutePostUrl %}{{ episode.url | url | absoluteUrl(meta.url) }}{% endset %}
    <item>
      <itunes:episodeType>full</itunes:episodeType>
			<itunes:episode>{{ episode.data.episodeNumber }}</itunes:episode>
      <title>{{ episode.data.title  }}</title>
      <description>
          <![CDATA[{{ episode.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}]]>
      </description>
			{#- length is in bytes #}
      <enclosure 
        length="{{ episode.data.lengthInBytes }}" 
        type="audio/mpeg" 
        url="{{ episode.data.podcastUrl }}"
      />
      <guid>{{ absolutePostUrl }}</guid> 
      <link>{{ absolutePostUrl }}</link> 
      <pubDate>{{ episode.date | pubDate }}</pubDate>
      <itunes:duration>{{ episode.data.lengthInSeconds }}</itunes:duration> {# seconds #}
      <itunes:explicit>false</itunes:explicit>
    </item>
		{%- endfor %}
	</channel>
</rss>
